@import "tailwindcss";

@font-face {
  font-family: 'Alika Angular';
  src:  url('./assets/fonts/Alike_Angular/AlikeAngular-Regular.woff2') format('woff2'),
        url('./assets/fonts/Alike_Angular/AlikeAngular-Regular.woff') format('woff');
}

:root {
  --primary: rgba(217, 217, 217, 1);
  --secondary: rgba(26, 55, 77, 1);
  --tertiary: rgba(118, 200, 147, 1);
  --extra-1: rgba(111, 130, 143, 1);
  --extra-2: rgba(26, 55, 77, 0.627);
  
  --bg:  rgba(255, 255, 255, 1);

  --primary-transparent: rgba(217, 217, 217, 0.5);
  --secondary-transparent: rgba(26, 55, 77, 0.5);
  --tertiary-transparent: rgba(118, 200, 147, 0.5);

  --text-topper: rgba(0, 0, 0, 1);
  
  --black-transparent: rgba(0, 0, 0, 0.5);
  --black-transparent-2: rgba(0, 0, 0, 0.25);
  
  --transparent: rgb(159, 159, 159, 0.5);
}

.dark {
  --primary: rgba(34, 45, 56, 1);
  --secondary: rgba(118, 200, 147, 1);
  --tertiary: rgba(26, 55, 77, 1);
  --extra-1: rgba(161, 178, 191, 1);
  --extra-2: rgba(118, 200, 147, 0.18);
  
  --secondary-dark: rgb(31, 47, 59);
  --tertiary-dark: rgba(118, 200, 147, 1);

  --bg: rgba(15, 23, 32, 1);

  --primary-transparent: rgba(34, 45, 56, 0.5);
  --secondary-transparent: rgba(118, 200, 147, 0.5);
  --tertiary-transparent: rgba(88, 166, 255, 0.5);

  --text-topper: rgba(240, 244, 248, 1);

  --black-transparent: rgba(0, 0, 0, 0.7);
  --gray-transparent: rgba(255, 255, 255, 0.5);

  --black-transparent-2: rgba(0, 0, 0, 0.4);

  --transparent: rgba(200, 200, 200, 0.2);
}

/* * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, transform 0.2 ease-out;
} */

.shadow-custom-b {
  box-shadow: 0px 4px 4px 0px var(--black-transparent-2);
}

.shadow-custom-s {
  box-shadow: 0px -4px 4px 0px var(--black-transparent-2);
}

.shadow-custom-sb {
  box-shadow: 0px -4px 4px 0px var(--black-transparent-2),
               0px 4px 4px 0px var(--black-transparent-2);
}

.fade-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 100;
  background: linear-gradient(to bottom, var(--black-transparent-2), transparent);
}

.fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 100;
  background: linear-gradient(to top, var(--black-transparent-2), transparent);
}

body {
  font-family: 'Alika Angular', sans-serif;
  transition: all;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.banana {
  z-index: 10;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}