@import "tailwindcss";

:root {
  --primary: rgba(217, 217, 217, 1);
  --secondary: rgba(26, 55, 77, 1);
  --tertiary: rgba(118, 200, 147, 1);
  --extra-1: rgba(111, 130, 143, 1);
  --extra-2: rgba(26, 55, 77, 0.627);
  
  --bg:  '#fff';

  --primary-transparent: rgba(217, 217, 217, 0.5);
  --secondary-transparent: rgba(26, 55, 77, 0.5);
  --tertiary-transparent: rgba(118, 200, 147, 0.5);

  --black-transparent: rgba(0, 0, 0, 0.5);
  --transparent: rgb(159, 159, 159, 0.5);
}
.dark {
}

.shadow-custom {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}